<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>msnydera_hw3</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		airlineHome</display-name>
		<servlet-name>airlineHome</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.AirlineHome</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		flightSearch</display-name>
		<servlet-name>flightSearch</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.FlightSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		prepareSearch</display-name>
		<servlet-name>prepareSearch</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.PrepareSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		reserveFlight</display-name>
		<servlet-name>reserveFlight</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.ReserveFlight</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		addAirplane</display-name>
		<servlet-name>addAirplane</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.AddAirplane</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		prepareAddAirplane</display-name>
		<servlet-name>prepareAddAirplane</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.PrepareAddAirplane</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		prepareAddAirport</display-name>
		<servlet-name>prepareAddAirport</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.PrepareAddAirport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		addAirport</display-name>
		<servlet-name>addAirport</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.AddAirport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		prepareCreateFlight</display-name>
		<servlet-name>prepareCreateFlight</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.PrepareCreateFlight</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		createFlight</display-name>
		<servlet-name>createFlight</servlet-name>
		<servlet-class>
		msnydera.swe645.web.servlet.CreateFlight</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>airlineHome</servlet-name>
		<url-pattern>/airlineHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flightSearch</servlet-name>
		<url-pattern>/flightSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prepareSearch</servlet-name>
		<url-pattern>/prepareSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reserveFlight</servlet-name>
		<url-pattern>/reserveFlight</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addAirplane</servlet-name>
		<url-pattern>/addAirplane</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prepareAddAirplane</servlet-name>
		<url-pattern>/prepareAddAirplane</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prepareAddAirport</servlet-name>
		<url-pattern>/prepareAddAirport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addAirport</servlet-name>
		<url-pattern>/addAirport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prepareCreateFlight</servlet-name>
		<url-pattern>/prepareCreateFlight</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createFlight</servlet-name>
		<url-pattern>/createFlight</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/jsp/home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
